<section>
<h2>Sign in</h2>

<form action="<%= sessions_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">

    <label for="user_email">Email: </label>
    <input type="text" id="user_email" name="user[email]">
    <br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name ="user[password]">

    <br>
    <input type="submit">
</form>




</section>