<!DOCTYPE html>
<html>
  <head>
    <title>App Academy Times</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  </head>
  <header><img class="logo" src="assets/App_Times_Logo.png" alt="aA Academy"></header>
  <body>
  <nav></nav>
  <section>
  <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, perferendis molestias quia dolor excepturi tenetur iusto sequi odio saepe culpa cumque, maiores minus itaque aut non fugit, ut aliquam facere.</div>
  </section>


  
    <%= yield %>
  </body>
</html>
